# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Redis dump (если локально)
dump.rdb

# pytest / coverage (если добавишь позже)
.pytest_cache/
.coverage
htmlcov/

# mypy / type checkers
.mypy_cache/

# build / dist
build/
dist/
*.egg-info/
